.ui.container {
  width: 100%;
}

.ui.segment {
  background-color: #f44336;
  border-radius: 0;
  color: #fff;
  font-size: 13px;
}

.menu {
  background-color: #fff!important;
}

.logo, .logo:hover, .logo:focus {
  color: #f44336!important;
  font-size: 26px;
  line-height: 25px;
  text-shadow: 2px 2px 1px rgba(150, 150, 183, 0.18);
  text-decoration: none;
  background: transparent!important;
}

.right.menu .item {
  color: #212121;
  padding: 28px 16px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: all .25s ease-out;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.right.menu .item:hover {
  color: #f44336!important;
  transition: all .25s ease-out;
  background: transparent!important;
}

.ui.secondary.stackable.menu {
  border-bottom: 2px solid grey;
}

.ourServices h3 {
  display: inline-block;
  padding: 0 0 18px;
  text-transform: capitalize;
  width: auto;
  color: #212121;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: normal;
  margin: 0 0 15px;
  overflow-wrap: break-word;
  text-align: center;
}

.column h3 span {
  color: #f44336;
}

.ourServices p {
  font-size: 11px;
  letter-spacing: 0.1em;
  margin: -10px 0 40px;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
}

.ourServicesContent .mobile.column>div {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  z-index: 12;
  border-radius: 3px;
}

.ourServicesContent h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.ourServicesContent p {
  margin-bottom: 20px;
  color: #999;
}

.ourServicesContent button {
  background: #f44336;
  cursor: pointer;
  color: #fff;
  padding: 15px 44px 14px;
  line-height: 30px;
  overflow: hidden;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.05em;
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  border: none;
  outline: none;
}

.ourServicesContent button:hover {
  background: #212121;
  border-color: #212121;
  transition: all 0.3s ease;
}

.ourServicesContent .icon {
  border-radius: 3px;
  height: 80px;
  margin: 20px auto 40px;
  text-align: center;
  transition: color 0s ease 0s, all 250ms ease 0s;
  width: 80px;
  transform: rotate(45deg);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.ourServicesContent i {
  font-size: 36px;
  line-height: 80px;
  transform: rotate(-45deg);
  color: #f44336;
}

.process .column>div {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  padding: 30px;
}

.process h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.process p {
  margin-bottom: 20px;
  color: #999;
}

.process .number {
  width: 60px;
  height: 60px;
  font-size: 46px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.05em;
  color: #afafaf;
}

.process .number:hover {
  color: #f44336;
  transition: all 0.3s ease;
}
